<%= simple_form_for([assignment, issue]) do |f| %>

<div class="form-group px-3">
  <%= f.input :description, label: 'Description:', as: :text, placeholder: "Explique ce que tu as remarqué ...", class: "form-control" %>
</div>
<div class="d-flex align-items-start issue-upload-card">
  <div class="form-group px-3">

    <label class="btn button-deal">Ajouter un fichier!
      <span class="custom-file-input">
        <%= f.input :photo, required: false, as: :file %>
        <%= f.input :photo_cache, as: :hidden %>
      </span>
    </label>
    <p><i class="fa fa-file fileinput-exists"></i><span id="custom-file-input-label"> Choisissez un fichier</span></p>

  </div>
  <div class="px-3">
    <%= f.button :submit, value: "Créer Ticket", class: "btn button-deal" %>
  </div>
</div>

<% end %>
