<%= simple_form_for([assignment, issue]) do |f| %>
  <div class="form-group px-3">
    <%= f.input :description, label: 'Explique ce que tu as remarqué', as: :text, placeholder: "Fais-lui un message pour lui expliquer pourquoi, tout en restant courtois.", class: "form-control" %>
  </div>
  <div class="d-flex align-items-start issue-upload-card">
    <div class="form-group px-3">
      <label class="btn button-deal">Ajouter une photo
        <span class="custom-file-input">
          <%= f.input :photo, required: false, as: :file %>
          <%= f.input :photo_cache, as: :hidden %>
        </span>
      </label>
      <p><i class="fa fa-file fileinput-exists"></i><span id="custom-file-input-label"> choississez une photo</span></p>
    </div>
    <div class="px-3">
      <%= f.button :submit, value: "Ouvrir un Ticket", class: "btn button-deal" %>
    </div>
  </div>
<% end %>
