<div class="grid">
  <% issues.each do |issue| %>
  <% if issue.assignment.done_state == false %>
    <div class="example-2 issue-card">
      <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
       url('<%= cl_image_path issue.photo %>')">
        <div class="data">
          <div class="content">
            <span class="author">Crée par: <%= full_name(issue.user.first_name, issue.user.last_name) %></span>
            <h1 class="title"><%= issue.assignment.task.name %></h1>
            <p class="text"><%= issue.description %></p>
            <%= link_to "Fait", issue_done_path(issue.assignment), :method => :patch, class: "btn-done" %>
          </div>
        </div>
      </div>
    </div>
     <% end %>
  <% end %>
</div>

