<div class="container col-12 col-md-6" id="issue-page">
  <div class="task-title">
    <h2 class="text-center py-2"><%= full_name(@user.first_name, @user.last_name) %> a mal fait sa tâche, <br> ouvre un ticket pour lui faire savoir.</h2>
  </div>
  <div class="body-form-issue">
    <div class="new-issue-card">
      <div class="deal-avatar">
        <%= cl_image_tag @user.avatar_photo, class: "avatar-new-deal" %>
      </div>
      <div>
        <h3><%= @user.first_name %> à indiqué avoir fais la tâche le <%= @task.name %></h3>
        <p><%= @task.description%></p>
      </div>
    </div>
  </div>
  <div class="bg-white bottom-rounded">
    <div class="margin-form mx-5 px-4">
        <%= render 'issues/form', assignment: @assignment ,issue: @issue %>
    </div>
  </div>
</div>
