<div class="container">
  <div>
    <h1 class="p-4">Tickets levés contre moi</h1>
    <%= render 'issues/recap_cards', issues: @issues_against_me %>
  </div>
</div>
<div class="container">
 <h1 class="p-4">Mes tickets</h1>
 <div class="grid">
  <% @my_issues.each do |issue| %>
  <% if issue.assignment.done_state == false %>
  <div class="parent-card">
    <div class="issue-image-container">
      <%= cl_image_tag issue.photo, class: "issue-image" %>
    </div>
    <div class="info-issue-recap">
      <h3 class="title"><%= issue.assignment.task.name %></h3>
      <p class="text"><%= issue.description %></p>
      <span class="author">Crée: <%= complete_date(issue.created_at) %></span>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
