

<div class="container container-deals bg-white col-xs-11 col-lg-9  p-0">
 <h2 class="task-title">Les remarques que j'ai faites à mes collocs</h2>
  <% if @my_issues.empty? %>
    <p class="text-center congrats">Tu n'as fait aucune remarque, ta bonté te perdra<p>
    <p class="text-center smiley"><%= Emoji.find_by_alias("smile").raw %></p>
  <% end %>
 <div class="grid">
  <% @my_issues.each do |issue| %>
  <% if issue.assignment.done_state == false %>
  <div class="issue-parent-card m-3">
    <div class="issue-image-container">
      <%= cl_image_tag issue.photo, class: "issue-image" %>
    </div>
    <div class="info-issue-recap bottom-rounded">
      <h3 class="title"><%= issue.assignment.task.name %></h3>
      <p class="text"><%= issue.description %></p>
      <span class="author">Créée: <%= complete_date(issue.created_at) %></span>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>

<div class="container container-deals bg-white col-xs-11 col-lg-9  p-0">
  <h2 class="task-title">Remarques sur mes tâches</h2>
  <% if @issues_against_me.empty? %>
    <p class="text-center congrats">Aucune remarque, tu es un collocataire exemplaire<p>
    <p class="text-center smiley"><%= Emoji.find_by_alias("relieved").raw %></p>
  <% else %>
    <%= render 'issues/recap_cards', issues: @issues_against_me %>
  <% end %>
</div>
