<h1 id="colocation-title">Collocation : <%= @flat.name %></h1>
<div class="tasks">
  <div class="task fade-in-left">
    <div class="task-title-todo">
      <h2 class="text-task-title">À faire</h2>
    </div>
    <div class="todo">
      <h2 class="task-subtitle"><%= "Aujourd'hui" unless @assignments_today_late.empty? %></h2>
      <%= render 'flats/today' %>
      <h2 class="task-subtitle"> <%= complete_date(Date.today + 1) unless @assignments_day1.empty? %></h2>
      <%= render 'flats/todo',    assignments: @assignments_day1  %>
      <h2 class="task-subtitle"> <%= complete_date(Date.today + 2) unless @assignments_day2.empty? %></h2>
      <%= render 'flats/todo',    assignments: @assignments_day2  %>
      <h2 class="task-subtitle"> <%= complete_date(Date.today + 3) unless @assignments_day3.empty? %></h2>
      <%= render 'flats/todo',    assignments: @assignments_day3  %>
      <h2 class="task-subtitle"> <%= complete_date(Date.today + 4) unless @assignments_day4.empty? %></h2>
      <%= render 'flats/todo',    assignments: @assignments_day4  %>
      <h2 class="task-subtitle"> <%= complete_date(Date.today + 5) unless @assignments_day5.empty? %></h2>
      <%= render 'flats/todo',    assignments: @assignments_day5  %>
      <h2 class="task-subtitle"> <%= complete_date(Date.today + 6) unless @assignments_day6.empty? %></h2>
      <%= render 'flats/todo',    assignments: @assignments_day6  %>
    </div>
  </div>
  <div class="task fade-in-left done-column">
    <div class="task-title-done">
      <h2 class="text-task-title">Fait</h2>
    </div>
    <div class="done">
      <%= render 'flats/done', assignments: @assignments_done %>
    </div>
  </div>
</div>
