<h1 id="colocation-title">Colocation : <%= @flat.name %></h1>
<div class="tasks">
    <div class="task fade-in-left">
        <div class="task-title">
            <h2>Todo</h2>
        </div>
        <% @flat.assignments.each do |assignment| %>   
        <% unless assignment.done_state %> 
            <div class="card-task">
                <img class="avatar-large" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
                    <div class="card-task-info">
                        <h2><%= assignment.task.name %></h2>
                        <p> <%= assignment.task.description %></p>
                    </div> 
                <%= link_to "Deal", new_assignment_deal_path(assignment), class: "btn-deal"%>
            </div>
        <% end %>
        <% end %>
    </div>
    <div class="task fade-in-left">
        <div class="task-title">
            <h2>Done</h2>
        </div>
        <% @flat.assignments.each do |assignment| %>   
        <% if assignment.done_state%> 
            <div class="card-task">
                <img class="avatar-large" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
                    <div class="card-task-info">
                        <h2><%= assignment.task.name %></h2>
                        <p> <%= assignment.task.description %></p>
                    </div> 
            </div>
        <% end %>
        <% end %>
    </div>
</div>
