<div id="navbar" class="d-flex align-items-center navbar navbar-expand-sm navbar-light">
  <!-- <a href="<%= ApplicationGlobals::GlobalVar::BASE_URL %> " id="logo"> -->
  <%= link_to root_path, id: "logo" do %>
    <h1 class="site-title">Easy coloc'</h1>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">
      <% if user_signed_in? %>
      <!--<li class="nav-item">
        <%= link_to "Invite tes collocs'", flat_invite_path(current_user.flat), class: "nav-link" %>
      </li>-->
      <li class="nav-item">
        <%= link_to "Ma collocation", flat_path(current_user.flat), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Echanges", deals_recap_path, class: "nav-link" %>
        <% if deals_array.size > 0 %>
          <div class="badge badge-pill badge-danger notification-push"><%= deals_array.size %></div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Remarques", issues_recap_path , class: "nav-link" %>
        <% if issues_against_me_array.size > 0 %>
          <div class="badge badge-pill badge-danger notification-push"><%= issues_against_me_array.size %></div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= cl_image_tag current_user.avatar_photo, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
