<div class="container col-6 mt-5 mb-5">
    <div class="task-title">
        <h2 class="text-center py-2">Proposition d'échange</h2>
    </div>
    <div class="deal">
        <div class="new-deal-card">
          <div class="p-3">
            <%= cl_image_tag @assignment.user.avatar_photo, class: "avatar-new-deal" %>
            <div class="p-1">
              <h3><%= @deal.assignment.task.name %></h3>
              <p><%= complete_date(@deal.assignment.deadline) %></p>
            </div>
          </div>
          <div class="change-icon">
            <i class="fas fa-exchange-alt"></i>
          </div>
          <div class="p-3">
            <%= cl_image_tag("user-1633250_960_720_br2fvz", class: "avatar-unkown") %>
            <div class="p-1">
              <h3>Tâche</h3>
              <p>Date</p>
            </div>
          </div>
        </div>
        <div class="form-checkbox">
            <%= "<form action='/assignments/#{@assignment.id}/deals' method='post'>".html_safe %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <h3 class="text-center">Propositions d'échanges</h3>
            <div class="checkboxs">
                <% @proposals.each do |proposal| %>
                <div class="style-checkbox">
                    <%= "<img class='avatar-deal-proposal' src='#{proposal.user.avatar_photo}' alt='#{proposal.user.first_name}'>".html_safe %>
                    <%= "<input type='checkbox' id='proposal_#{proposal.id}' name='#{proposal.id}'>".html_safe %>
                    <%= "<label class='label-name' for='proposal_#{proposal.id}'><span>#{proposal.task.name}</span> </br> #{complete_date(proposal.deadline)}</label>".html_safe %>
                </div>
                <% end %>
            </div>
            <h3 class="p-2">Tu ne peux pas faire ta tâche</h3>
            <div class="description form-group mb-2">
                <textarea class="form-control" id="description" name="description" placeholder="Explique lui pourquoi..." cols="40" rows="2"></textarea>
            </div>
            <div>
              <p>Tu vas proposer des échanges. Seul un échange sera fait, le premier accepté.</p>
            </div>
            <input type="submit" class="mb-3 proposer" value="Proposer les échanges">
            </form>
        </div>
    </div>
</div>
