<div class="container col-6">
    <div class="task-title">
        <h2 class="text-center py-2">Make a deal: <%= @assignment.user.first_name %></h2>
    </div>
    <div class="deal">
        <div class="deal-avatar">
            <%= cl_image_tag @assignment.user.avatar_photo, class: "avatar-large-deal" %>
                <div class="change-icon">
                    <i class="fas fa-arrows-alt-h" id="change-icon"></i>
                </div>
            <%= cl_image_tag("not-a-user_httobd", :width=>200, class: "avatar-large-deal") %>
        </div>
        <%# <%= render 'form', proposals: @proposals, deal: @deal %>
        <%= "<form action='/assignments/#{@assignment.id}/deals' method='post'>".html_safe %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <% @proposals.each do |proposal| %>
                <%= "<input type='checkbox' id='proposal_#{proposal.id}' name='#{proposal.id}'>".html_safe %>
                <%= "<label for='proposal_#{proposal.id}'>#{proposal.task.name} - #{proposal.user.first_name} - #{proposal.deadline}</label>".html_safe %>
            <% end %>
            <input type="submit" value="Propose deals">
        </form>
    </div>
</div>