<div class="container col-6">
    <div class="task-title">
        <h2 class="text-center py-2">Make a deal</h2>
    </div>
    <div class="deal">
        <div class="deal-avatar">
            <%= cl_image_tag @assignment.user.avatar_photo, class: "avatar-large-deal" %>
                <div class="change-icon">
                    <i class="fas fa-arrows-alt-h" id="change-icon"></i>
                </div>
            <%= cl_image_tag("not-a-user_httobd", :width=>200, class: "avatar-large-deal") %>
        </div>
        <div class="form-checkbox">
            <%= "<form action='/assignments/#{@assignment.id}/deals' method='post'>".html_safe %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <% @proposals.each do |proposal| %>
                        <div class="style-checkbox">
                            <%= "<img class='avatar' src='#{proposal.user.avatar_photo}' alt='#{proposal.user.first_name}'>".html_safe %>
                            <%= "<input type='checkbox' id='proposal_#{proposal.id}' name='#{proposal.id}'>".html_safe %>
                            <%= "<label class='label-name' for='proposal_#{proposal.id}'>#{proposal.task.name} - #{proposal.deadline}</label>".html_safe %>
                        </div>
                    <% end %>
                <input type="submit" value="Propose deals">
            </form>
        </div>
    </div>
</div>