<div class="container bg-white p-3">
  <h1>My proposed deals</h1>
  <div class="grid-deal">
    <% @deals.each do |deal| %>
    <% proposal = Assignment.find(deal.assignment_proposal_id ) %>
    <div class="card-task-deal">
      <div class="deal-avatar">
        <%= cl_image_tag deal.assignment.user.avatar_photo, class: "avatar-deal-recap" %>
      </div>
      <div class="card-task-proposal-info">
        <h2><%= deal.assignment.task.name %></h2>
        <p><%= deal.assignment.deadline.strftime("%A, %B, %Y") %></p>
      </div>
    </div>
    <div class="text-center">
      <i class="fas fa-arrows-alt-h arrow" id="change-icon"></i>
      <%= link_to 'Accept deal', '#' ,class: "btn-accept-deal" %>
    </div>
    <div class="right-card">
      <div class="card-task-proposal">
        <div class="deal-avatar">
          <%= cl_image_tag proposal.user.avatar_photo, class: "avatar-deal-recap" %>
        </div>
        <div class="card-task-proposal-info">
          <h2><%= proposal.task.name %></h2>
          <p><%=  proposal.deadline.strftime("%A, %B, %Y") %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>






