<div class="container container-deals bg-white col-xs-11 col-lg-9  p-0">
  <h2 class="task-title col-12">Les échanges que j'ai proposé</h2>
  <div class="grid-deal">
     <% @my_deals.each do |deal| %>
      <% if deal.chosen == nil %>
      <% proposal = Assignment.find(deal.assignment_proposal_id ) %>
      <div class="parent-card">
        <div class="task-to-deal">
          <div>
            <%= cl_image_tag deal.assignment.user.avatar_photo, class: "avatar-to-deal" %>
          </div>
          <div class="deal-info">
            <h2><%= deal.assignment.task.name %></h2>
            <p><%= complete_date(deal.assignment.deadline) %></p>
          </div>
        </div>
        <p class="text-center"><i class="fas fa-exchange-alt rotate-arrow"></i></p>
        <div class="my-proposal">
            <div>
              <%= cl_image_tag proposal.user.avatar_photo, class: "avatar-to-deal" %>
            </div>
            <div class="deal-info">
              <h2><%= proposal.task.name %></h2>
              <p><%=  complete_date(proposal.deadline) %></p>
            </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container container-deals bg-white col-xs-11 col-lg-9  p-0">
  <h2 class="task-title">Les échanges qu'on me propose</h2>
  <div class="grid-deal">
     <% @deals.each do |deal| %>
      <% if deal.chosen == nil %>
      <% proposal = Assignment.find(deal.assignment_proposal_id ) %>
      <div class="parent-card">
        <div class="task-to-deal">
          <div>
            <%= cl_image_tag deal.assignment.user.avatar_photo, class: "avatar-to-deal" %>
          </div>
          <div class="deal-info">
            <h2><%= deal.assignment.task.name %></h2>
            <p><%= complete_date(deal.assignment.deadline) %></p>
          </div>
        </div>
        <p class="text-center"><i class="fas fa-exchange-alt rotate-arrow"></i></p>
        <div class="proposal">
            <div>
              <%= cl_image_tag proposal.user.avatar_photo, class: "avatar-to-deal" %>
            </div>
            <div class="deal-info">
              <h2><%= proposal.task.name %></h2>
              <p><%=  complete_date(proposal.deadline) %></p>
            </div>
        </div>
        <div class="accept-deal">
          <%= link_to 'Accepter', update_deal_path(deal) ,class: " btn btn-accepter text-center w-100",
        :method=> :patch %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>






