<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gérez votre colocation facilement grâce à Easy Coloc">
    <title>Easy Coloc, l'application qui te permet de gérez facilement ta colloc !</title>
    <meta property="og:title" content="Gérez votre collocation facilement grâce à Easy Coloc">
    <meta property="og:image" content="https://res.cloudinary.com/dqktvdjkg/image/upload/v1559596730/roommates_1200x630_biaefa.jpg">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="Easy coloc est une application web qui permet d'organiser sa collocation. En résumé, le but est de rendre agréable et juste la vie en collocation.">
    <meta property="og:site_name" content="Easy Coloc"/>
    <meta property="og:type" content="web application" />
    <meta property="og:url" content="<%= ApplicationGlobals::GlobalVar::BASE_URL %>"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Easycoloc">
    <meta name="twitter:title" content="Gérez votre collocation facilement grâce à Easy Coloc">
    <meta name="twitter:description" content="Easy coloc est une application web qui permet d'organiser sa collocation. En résumé, le but est de rendre agréable et juste la vie en collocation.">
    <meta name="twitter:creator" content="@Easycoloc">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dqktvdjkg/image/upload/v1559596730/roommates_1200x630_biaefa.jpg">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag  %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p class="notice"></p>
    <p class="alert"></p>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
